body {
    background-color:rgb(21, 133, 224) ;
    display: block;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details2 {
    height: 20vh;
}

.answer-btn-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    
}

.instructions {
    text-align: center;
    width: 75%;
    font-size: 25px;
    margin-left: 12%;
    font-weight: bold;
}

#start-button {
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 48%;
}

.startBtn {
    box-shadow: 0 0 5px 2px;
}

#start-button:hover {
    background-color: black;
    color: white;
}

.hide {
    display: none;
}

.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.question-container2 {
    border: black 2px solid;
    border-radius: 10px;
    width: 40vw;
    background-color: white;
    text-align: center; 
    padding: 10px;
    box-shadow: 8px 8px 13px 5px ;
}



.question-1 {
    font-size: 40px;
    align-items: center;
    
}
/* added hover effects for buttons*/
.btn {
    padding: 15px;
    margin-top: 20px;
    margin-left: 5px;
    font-size: 35px;
    border: solid black 2px;
    border-radius: 5px;
    background-color: white;
}

.btn:hover {
    background-color: green;

    font-weight: bolder;
    font-size: 40px;
}

.result1 {
    font-style: italic;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
}
.result-container {
    border: black 2px groove;
    width: 30%;
    height: 550px;
    margin-left: 33%;
    margin-top: 11%;
    background-color: white;
}

.name {
    padding: 20px;
    margin-left: 18%;
    font-size: 25px;
    margin-top: 1%;
}
 
.submit-btn {
    padding: 10px;
    margin-left: 45%;
    margin-top: 5%;
    border: black 4px solid;
    font-size: 25px;
}
.submit-btn:hover {
    font-size: 30px;
}
.final-result {
    margin-top: 30px;
    font-size: 25px;
    color: brown;
    margin-left: 30%;
    font-weight: bolder;
}

.name-input {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

.saved-name{
 margin-top: 90px;
 font-size: 35px;
}

.saved-result {
font-size: 35px;
}

.timer {
    font-size: 50px;
    text-align: center;
    color: black;
    font-weight: bolder;
}

.score {
    font-size: 45px;
    text-align: center;
    color: rgb(255, 255, 255);
}