body {
    background-color:rgb(21, 133, 224) ;
    display: block;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details2 {
    height: 18vh;
}


.answer-btn-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    
}

.instructions {
    text-align: center;
    width: 75%;
    font-size: 25px;
    margin-left: 12%;
    font-weight: bold;
}

#start-button {
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 48%;
}

.startBtn {
    box-shadow: 0 0 10px 1px;
    border: 1px black solid;
}

#start-button:hover {
    background-color: black;
    color: white;
}

.hide {
    display: none;
}

.question-container {
    margin-top: 7%;
}

.question-container2 {
    border: black 2px solid;
    border-radius: 10px;
    width: 40vw;
    background-color: white;
    text-align: center; 
    padding: 10px;
    box-shadow: 8px 8px 13px 5px ;
}

.question-1 {
    font-size: 40px;
    align-items: center;
    
}

.btn {
    padding: 15px;
    margin-top: 20px;
    margin-left: 5px;
    font-size: 35px;
    border: solid black 2px;
    border-radius: 5px;
    background-color: white;
}

.btn:hover {
    background-color: rgb(23, 184, 23);

    font-weight: bolder;
    font-size: 40px;
}


.result-container2 {
    border: black 2px solid;
    border-radius: 10px;
    width: 40vw;
    background-color: white;
    padding: 10px;
    box-shadow: 8px 8px 13px 5px ;
}

.name {
    padding: 20px;
    font-size: 25px;
}
 

.submit-btn:hover {
    font-size: 30px;
}
.final-result {
 
    font-size: 25px;
    color: brown;
    margin-left: 30%;
    font-weight: bolder;
}

.name-input {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

.saved-name{

 font-size: 35px;
}

.saved-result {
font-size: 35px;
}

.timer {
    font-size: 50px;
    text-align: center;
    color: black;
    font-weight: bolder;

}

.score {
    font-size: 45px;
    text-align: center;
    color: rgb(255, 255, 255);

}